.footer-h-w {
    width: 1920px;
    height: 50px;
    background: #F1F1F1;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    color: #717171;
    margin: 0 auto;
    font-family: Noto Sans CJK KR;

}
.footer-h-w p{
    text-align: center;
}